<div class="book-container">
    <h1>Book Details</h1>
    <div>
        <img src="<%=bookInfo.cover_image%>" alt="Book Cover" style="width:200px; height:auto;"/>
        <h2>Title:</h2>
        <p><%= bookInfo.title%></p>
    </div>
    <div>
        <h2>Author:</h2>
        <p><%= bookInfo.author%></p>
    </div>
    <div>
        <h2>Total copies: </h2>
        <p><%= bookInfo.total_copies%></p>
        <!--
        Need to work on decrease copies as well
        -->
        <% if (bookInfo.role == 'admin') { %>
        <form method="POST" action="/decreaseCopies/<%= bookInfo.book_id %>">
            <h2>Decrease Total Copies by:</h2>
            <input type="number" name="copiesToSubtract" required>
            <button type="submit">Submit</button>
        </form>
        <form method="POST" action="/increaseCopies/<%= bookInfo.book_id %>">
            <h2>Increase Total Copies by:</h2>
            <input type="number" name="copiesToAdd" required>
            <button type="submit">Submit</button>
        </form>
        <% } %>
    </div>
    <div>
        <h2>Available copies:</h2>
        <p><%= bookInfo.available_copies%></p>
    </div>
    <div>
        <h2>Publication year:</h2>
        <p><%= bookInfo.publication_year%></p>
    </div>
    <div>
        <h2>Added to this library at:</h2>
        <p><%= bookInfo.created_at%></p>
    </div>
    <% if (bookInfo.role == 'admin') { %>
    <a href="/removeBook/<%= bookInfo.book_id %>">Remove Book</a>
    <% } %>
    <a href="/adminPortal" class="btn">Back to Admin Portal</a>
</div>
