<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <div>
        <h2>Title:</h2>
        <p><%= bookInfo.title%></p>
    </div>
    <div>
        <h2>Author:</h2>
        <p><%= bookInfo.author%></p>
    </div>
    <div>
        <h2>Total copies: </h2>
        <!--
        Need to work on decrease copise as well
        -->
        <form method="POST" action="/increaseCopies/<%= bookInfo.book_id %>">
            <h2>Update Total Copies:</h2>
            <input type="number" name="copiesToAdd" required>
            <button type="submit">Submit</button>
        </form>
        <p><%= bookInfo.total_copies%></p>
    </div>
    <div>
        <h2>Available copies:</h2>
        <p><%= bookInfo.available_copies%></p>
    </div>
    <div>
        <h2>Publication year:</h2>
        <p><%= bookInfo.publication_year%></p>
    </div>
    <div>
        <h2>Added to this library at:</h2>
        <p><%= bookInfo.created_at%></p>
    </div>
</body>
</html>