<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
    <%- include('includes/commonCss') %>
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="/bookDetails.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
</head>
<body>
        <!-- <div id="flash-message" class="flash-messages"> </div> -->

   <%- include('includes/flashMessage') %>
    <%- include('includes/bookInformation.ejs') %>

    <%- include('includes/footer') %>
</body>
</html>