<!DOCTYPE html>
<html>
<head>
    <title>Book Details</title>
    <%- include('includes/commonCss') %>
    <%- include('includes/fontAwesome') %>
</head>
<body>

    <!-- Navbar -->
    <%- include('includes/navbar') %>

    <%- include('includes/bookInformation.ejs') %>

    <%- include('includes/footer') %>
</body>
</html>