<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.K Library</title>
    <%- include('includes/commonCss') %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/card.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('includes/navbar') %>

    <!-- Flash Messages -->
    <div class="flash-messages">
        <% errors.forEach(function(message) { %>
            <p class="flash-message">
                <%= message %>. This is a flash message, needs to be modified with CSS
            </p>
            <% }) %>
    </div>

    <!-- Book Showcase Section -->
    <%- include('includes/bookShowcase') %>

    <!-- About Us Section -->
    <%- include('includes/aboutUs') %>

    <%-include('includes/Homefooter') %>
    
    <%- include('includes/footer') %>