<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.K Library</title>
    <%- include('includes/commonCss') %>
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/card.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/bookShowcase.css">
    <link rel="stylesheet" href="/aboutUs.css">
    <link rel="stylesheet" href="/homeFooter.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('includes/navbar') %>

    <!-- Flash Messages -->
    <div class="flash-messages">
        <% errors.forEach(function(message) { %>
            <p class="flash-message">
                <%= message %>. This is a flash message, needs to be modified with CSS
            </p>
            <% }) %>
    </div>

   <!-- Hero Section -->
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-background"></div> <!-- Background image container -->
        <div class="hero-content">
            <h1>Welcome to Sample Library</h1>
            <p>Explore a vast collection of books, resources, and knowledge.</p>
            <a href="#about" class="btn">Learn More</a>
        </div>
    </section>



    <!-- Book Showcase Section -->
    <%- include('includes/bookShowcase') %>

    <!-- About Us Section -->
    <%- include('includes/aboutUs') %>

    <!-- <%-include('includes/homefooter') %>
     -->
    <%- include('includes/footer') %>