<!DOCTYPE html>
<html>

<head>
    <title>Borrower Details</title>
    <%- include('includes/commonCss') %>
    <!-- <link rel="stylesheet" href="/borrowdetails.css"> -->
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
    <link rel="stylesheet" href="/modal.css">
    <link rel="stylesheet" href="/punishmentForm.css">
    <link rel="stylesheet" href="/navbar.css">
</head>

<body>
<h1>Overdue Managment</h1>

    <%- include('includes/navbar') %>

<!-- We used axios, so couldnt do res.render from front end so thats why manually creating
     a flash message-->
    <div id="flash-message" class="flash-message"></div>

    <div class="search-icon-reservation">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" id="live-search-field-everyone">
    </div>

    <%- include('includes/flashMessage') %>
    <%- include('includes/filterSearchReservation') %>

    <%- include('includes/modal') %>

    <%- include('includes/borrowerTable') %>

    <div class="search-icon-reservation">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" id="live-search-field-userRecord">
    </div>

    <%- include('includes/userRecordTable') %>
    <%- include('includes/_punishmentForm', { type: 'BadDebt', label: 'Bad Debt' }) %>
    <%- include('includes/_punishmentForm', { type: 'Overdue', label: 'Overdue' }) %>

    <div class="search-icon-reservation">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" id="live-search-field-punishment">
    </div>
    <%-include('includes/filterSearchPunishment') %>    
    <%- include('includes/punishmentTable') %>
    

    <%- include('includes/modalPunishment') %>
    <%- include('includes/modalShowReservations') %>

    <a href="/adminPortal" class="btn">Back to Admin Portal</a>
    <script>
        // Pass `reservations` to the frontend by embedding it in the page
        const reservations = <%- JSON.stringify(reservations) %>;
        // Now you can use `reservations` in your frontend JavaScript
    </script>
    
    <%- include('includes/footer') %>
