<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" type="text/css" href="userPortal.css">
    <link rel="stylesheet" type="text/css" href="searchBook.css">
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="addToCart.css">
    <link rel="stylesheet" href="flashMessagesFrontEnd.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="/navbar.css">
    
</head>

<body>

    <%- include('includes/navbar') %>

    <!-- Flash Messages -->
    <div id="flash-message" class="flash-messages"></div>

    <%- include('includes/modal') %>
    <div class="container">
        

     

        <div class="user-portal-wrapper">
            <div class="user-portal-image"></div> <!-- Background image container -->
            <div class="user-portal-content">
                <h2>Welcome <%= user.username %></h2>
                <p>
                    Welcome to <strong>Cloud Library</strong>, a space for learning, research, and book lovers.
                    We provide access to thousands of books, periodicals, and digital resources. Over here you can
                    search for books, make reservations, check your reservation details, and view any punishments (if any).
                </p>
                <a href="#search-book-section" class="btn">Search for Books</a>
            
            </div>
        </div>


        <!-- Main Content -->
        <main class="portal-content">
            <div class="user-actions user-actions-reservation-details">
                <h2 class="user-actions-heading">Reservation Details</h2>
                <div class="icon-container">
                    <svg class="icon icon-books">
                        <use xlink:href="books.svg#icon-books"></use>
                    </svg>
                </div>
                
                <p class="user-actions-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Assumenda omnis iste praesentium ducimus quos eum aliquam ipsa laudantium unde, 
                    voluptatem, voluptatum culpa tempore ab dolores ullam repellendus labore debitis vitae.
                </p>
                <a href="/userReservationDetails" class="btn">View Reservation Details</a>
            </div>
            <div class="user-actions user-actions-view-punishments">
                <h2 class="user-actions-heading">View punishments</h2>
                <div class="icon-container">
                    <svg class="icon icon-books">
                        <use xlink:href="books.svg#icon-books"></use>
                    </svg>
                </div>
                
                <p class="user-actions-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Assumenda omnis iste praesentium ducimus quos eum aliquam ipsa laudantium unde, 
                    voluptatem, voluptatum culpa tempore ab dolores ullam repellendus labore debitis vitae.
                </p>
                <a href="/userPunishmentDetails" class="btn">Punishments (if any)</a>
            </div>
        </main>

        <!-- Add to Cart Section -->
        <%- include('includes/addToCart') %>

        <div id="search-book-section" class="search-book-section">
            <div class="search-book-wrapper">
                <h2>Search for a Book</h2>
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="search-icon-2">
                    <input type="text" placeholder="Search" id="live-search-field">
                    <span class="close-search"><i class="fas fa-times-circle"></i></span>
                </div>
                <div class="loader-container">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="result-container ">
              
    
                <div class="result">
                </div>
            </div>
        </div>

    </div>

<%- include('includes/footer') %>