<!DOCTYPE html>
<html>

<head>
    <title>User Reservation Details</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" href="/userborrowdetails.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
    <link rel="stylesheet" href="/modal.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/filter.css">
    <link rel="stylesheet" href="/flashMessagesBackEnd.css">
</head>

<body>

    <%- include('includes/navbar') %>
    <h1>Reservation Details</h1>
    <!-- <div id="flash-message" class="flash-message"></div> -->
    <%- include('includes/flashMessage') %>

    <div class="user-details-wrapper">
        <div class="search-icon-reservation">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Enter Reservation number" id="live-search-field-user">
        </div>
        <%- include('includes/filterSearchReservation') %>

        <%- include('includes/modal') %>

        <%- include('includes/userReservationTable') %>

        <a href="/userPortal" class="back-to-user-btn">Back to User Portal</a>    
    </div>
    
    <script>
        // Pass `reservations` to the frontend by embedding it in the page
        const reservations = <%- JSON.stringify(reservations) %>;
    </script>

    <%- include('includes/footer') %>

