<!DOCTYPE html>
<html>

<head>
    <title>Borrower Details</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" href="/borrowdetails.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
    <link rel="stylesheet" href="/modal.css">
    <link rel="stylesheet" href="/navbar.css">
</head>

<body>
<h1>Reservation Details</h1>


    <%- include('includes/navbar') %>
<!-- We used axios, so couldnt do res.render from front end so thats why manually creating
     a flash message-->
     <div id="flash-message" class="flash-message"></div>

     <div class="search-icon-reservation">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" id="live-search-field-user">
    </div>
    <%- include('includes/filterSearchReservation') %>

     <!-- Modal for Borrowed Copies(also used in userPortal, can put it in includes.) -->
     <!-- <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Books reserved by the customers</h2>
            <ul id="bookCopies"> -->
                <!-- Book copies will be dynamically inserted here -->
            <!-- </ul>
        </div>
    </div> -->
    <%- include('includes/modal') %>

    <%- include('includes/userReservationTable') %>

<a href="/userPortal" class="btn">Back to User Portal</a>
<script>
    // Pass `reservations` to the frontend by embedding it in the page
    const reservations = <%- JSON.stringify(reservations) %>;   
    // Now you can use `reservations` in your frontend JavaScript
</script>

<%- include('includes/footer') %>