<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Record</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/userRecord.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
    <link rel="stylesheet" href="/borrowdetails.css">
    <link rel="stylesheet" href="/overdueAndBadDebt.css">
    <link rel="stylesheet" href="/setLimit.css">
    <link rel="stylesheet" href="/returnAndCollectDeadline.css">
</head>
<body>
    <%- include('includes/navbar') %>

          <!-- We used axios, so couldnt do res.render from front end so thats why manually creating
    a flash message-->
    <div id="flash-message" class="flash-messages"> </div>

    <h2 class="user-record-header">User Record</h2>
    <div class="search-icon-reservation">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Enter Username" id="live-search-field-userRecord">
    </div>

    
    <%- include('includes/userRecordTable') %>

    <div class="limit-wrapper">
        <%- include('includes/setLimit') %> 
        <%- include('includes/returnAndCollectDeadline') %>  
    </div>
 


<%- include('includes/footer') %>