<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" type="text/css" href="userPortal.css">
    <link rel="stylesheet" type="text/css" href="searchBook.css">
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="addToCart.css">
    <link rel="stylesheet" href="flashMessagesFrontEnd.css">
    <Link rel="stylesheet" href="modal.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('includes/navbar') %>
       <!-- We used axios, so couldnt do res.render from front end so thats why manually creating
    a flash message-->
    <div id="flash-message" class="flash-messages"> </div>

    <!-- User Portal Content -->
    <main class="portal-content">
        <h1>Welcome to the <%= user.username %> Portal</h1>

        <div class="user-actions">
            <a href="/userReservationDetails" class="btn">View Reservation Details</a>
        </div>

        <h2>Search for a Book</h2>

        <div class="search-icon">
            <i class="fas fa-search"></i>
        </div>

    </main>

    <%- include('includes/addToCart') %>
    
    <%- include('includes/modal') %>

    <%- include('includes/footer') %>
